@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-green,300);
  $accent: mat-palette($mat-gray, 60);

  $theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);
