<mat-toolbar>
  <span>QuizAppName </span>
  <span class="gap"></span>
  <span>Select Quiz</span>
</mat-toolbar>


<button routerLink="/play" class="blocktop">Geography quiz</button>
<button routerLink="/play" class="block">Geography quiz</button>
<button routerLink="/play" class="block">Geography quiz</button>
<button routerLink="/play" class="block">Geography quiz</button>
<button routerLink="/play" class="block">Geography quiz</button>
<button routerLink="/play" class="block">Geography quiz</button>
