.gap {
  margin-right: 100px;

}
.blocktop {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 10%;
}

.block {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: 10%;
}
.blockWantPlay
 {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: 10%;
  background-color: green;
 }
.blockTopWantPlay {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 10%;
  background-color: green;
}
